@import "../../styles/variables";
@import "../../styles/mixins";

$image-size: 180px;

.team-member {
  margin: 0 15px 25px;
  position: relative;
  text-align: center;
  width: 180px;

  @include respond-to("sm") {
    margin: 0 41px 75px;
  }

  &__image-wrapper {
    border-radius: 50%;
    cursor: pointer;
    height: #{$image-size/2};
    margin: 0 auto 26px;
    overflow: hidden;
    position: relative;
    width: #{$image-size/2};

    @include respond-to("sm") {
      height: $image-size;
      width: $image-size;
    }

    &:hover {
      &::after {
        opacity: 0.3;
      }
    }

    &::after {
      background-color: $color-primary;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.7;
      position: absolute;
      top: 0;
      transition: opacity 0.3s;
      width: 100%;
    }
  }

  &__img {
    width: 100%;
  }

  &__mail {
    align-items: center;
    background-color: $color-secondary;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 45px;
    top: 0;
    transition: background-color 0.3s;
    width: 30px;
    z-index: 1;

    @include respond-to("sm") {
      height: 40px;
      right: 0;
      top: 0;
      width: 40px;
    }

    &:hover {
      background-color: #614d8a;
    }

    &-content {
      background: url("../../img/mail.svg") no-repeat center;
      background-size: contain;
      height: 12px;
      width: 12px;

      @include respond-to("sm") {
        height: 17px;
        width: 17px;
      }
    }
  }

  &__name {
    color: $color-secondary;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  &__position {
    color: $color-primary;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
  }

  &__city {
    color: #808080;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
  }
}
