.app {
  padding-top: 66px;
  position: relative;
  z-index: 1;

  &__header {
    color: #452e76;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.08;
    margin-bottom: 117px;
    text-align: center;
  }
}
